.checkoutProduct{
    display: flex;
    border: 1px solid rgb(241, 190, 190);
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}
.product_image{
    margin: 2px;
    width: 180px;
    height: 180px;
}
.checkoutproduct_info{
    padding: 18px;
}
.checkoutproduct_info >button{
    background-color: rgb(153, 165, 42);
    border: 1px solid;
    border-radius: 8px;
    border-color: #a88734 #9c7e31;
}
.checkout_title{
    font-weight: 500;
}
.button{
    background-color: rgb(153, 165, 42);
    border: 1px solid;
    border-radius: 8px;
    border-color: #a88734 #9c7e31;
    margin: 1px;
}
.count{
    font-weight: 700;
}