.signup{
    max-width:400px;
    margin: auto;
    padding: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid #bbc8d4;
}

.signup label{
    display: block;
}
.signup input{
    width:100%;
    border:2px solid #bbc8d4;
    padding-left: 5px;
}

.signup label{
    font-weight: 700;
    margin-top: 13px;
}

.signup Button:first-of-type{
    margin-right:21px;
}

.signup Button{
    margin-top: 25px;
    margin-bottom: 16px;
}

.signup p{
    color:#bbc8d4;
}

